@page "/participants/{id:guid?}"

@inject AppDbContext db
@inject ILogger<ParticipantPage> Logger


@if(Id is null)
{
	<ParticipantList Participants="Participants"/>
}
else
{
	if(Participant is not null)
	{
		<ParticipantComponent Expanded="true" Participant="Participant"/>
	}
	else
	{
		<h1>Participant Not found</h1>
	}
}

@code {

	[Parameter]
	public Guid? Id { get; set; }

	public Participant? Participant { get; set; } = null;


	public List<Participant> Participants { get; set; } = [];

	public async Task LoadParticipants()
	{
		if(Id is null)
		{
			Participant = null;

			Participants = await db.Participants
					.AsNoTracking()
					.Include(p => p.Prizes)
					.ToListAsync();

			Logger.LogInformation("Loaded {Count} participants", Participants.Count);
		} else
		{
			Participant = await db
				.Participants
				.AsNoTracking()
				.Include(p => p.Prizes)
				.FirstOrDefaultAsync(x => x.Id == Id);

				Logger.LogInformation("Loaded participant {Participant}", Participant?.FullName);
		}



		_ = Task.Run(StateHasChanged);
	}


	protected override async Task OnParametersSetAsync()
	{
		await LoadParticipants();
	}
}
