*:not(ul) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: hsla(0, 0%, 80%, 1);
}



body {
    background-color: hsla(0, 0%, 15%, 1);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main {
    display:flex;
    flex: 1;
    flex-direction:column;
    padding:50px;
}

input{
    color:black;
}